<div class="header">
  <div class="header-content">
    <div>
      <div class="floating">
        <img src="/imgs/logosemente.png" alt="" />
      </div>

      <div>
        <div class="seedtitle">
          SEMENTE
          <span>SEMENTE</span>
          <span>SEMENTE</span>
          <span>movimento</span>
        </div>
        <span class="subtitle"
          >"A Eucaristia é a minha estrada para o céu" - São Carlo Acutis</span
        >
      </div>
      <a class="button" href="#main">Conheça nossa evangelização </a>
    </div>
  </div>
</div>
