<div class="container">
  <div class="row d-flex row-gap-5">
    <div class="col-md" style="max-width: 400px;">
      <span class="title">Econtre-nos <i class="pi pi-compass"></i></span>
      <h4 class="mt-3 mb-5">
        Venha participar conosco dos nossos encontros na Igreja Nossa Senhora de Fátima - Acaracuzinho.
      </h4>
      <h5>Todos os sábados, às 19h. Você é nosso convidado especial!</h5>

      <p class="mt-3">Rua 116 - Conjunto Acaracuzinho - Maracanaú-CE</p>
    </div>
    <div class="col-sm-4" style="padding: 0px; overflow: hidden;">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10488.94426847063!2d-38.62973452238759!3d-3.8460193134845135!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c752f2ff08a60d%3A0xeda484e82e58e186!2sIgreja%20de%20Nossa%20Senhora%20de%20F%C3%A1tima!5e0!3m2!1sen!2sbr!4v1758480846479!5m2!1sen!2sbr"
        width="400"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</div>
