.title {
  font-size: 100px;
  line-height: 1;
  font-weight: 500;
  display: block;
}
.brown {
  color: rgb(153, 94, 6);
  font-weight: 1000;
}

.card {
  width: 300px;
  height: 390px;
  padding: 10px;
  border-radius: 6px;
  border: none;
}


.content {
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  object-fit: contain;
}

.content-info {
  width: 100%;
  height: 240px;
  object-fit: contain;
  background-size: cover;
  border-radius: 4px;

}

.info {
  text-align: center;
  padding: 10px 20px;

  h4 {
    color: rgb(56, 56, 56);
  }

  p {
    color: rgba(56, 56, 56, 0.37);
  }
}

.img-ns {
  background-image: url("https://consagradosdefatima.org/wp-content/uploads/2024/05/NossaSenhoradeFatima-ArautosdoEvangelho1.jpeg");
  background-position: center;
}

.img-c {
  background-image: url("https://diocesedecampos.org.br/wp-content/uploads/2020/10/foto-1.jpg");
}

.img-t {
  background-image: url("https://cdn.conventodapenha.org.br/wp-content/uploads/2019/08/04110951/s%C3%A3o-tarc%C3%ADsio.jpg");
}
.img-s {
  background-image: url("https://img.cancaonova.com/cnimages/canais/uploads/sites/2/2022/10/S%C3%A3o-Jo%C3%A3o-Paulo-II-300-x-300-1.jpg");
}

@media screen and (max-width: 800px) {
  .card {
    width: 300px;
  }
  .title {
    font-size: 70px;
  }
}
