<div style="height: 120px"></div>

<div class="container">
  <span class="title mb-5 text-center">Vener<span class="brown">ação</span></span>
  <div class="d-flex justify-content-center">
    <p-button
      label="Entender melhor sobre venenação"
      [rounded]="true"
      severity="secondary"
      (click)="showDialog()"
      icon="pi pi-search"
      iconPos="right"
    />
  </div>

  <div style="height: 40px"></div>

  <div #sliderRef class="keen-slider">
    <div class="keen-slider__slide">
      <div class="card">
        <div class="content">
          <div class="content-info img-c"></div>
          <div class="info">
              <h4>São Carlo Acutis</h4>
          <p>Baluarte do movimento e padroeiro da internet</p>
          </div>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide">
      <div class="card">
        <div class="content">
          <div class="content-info img-ns"></div>
          <div class="info">
              <h4>Nossa Senhora de Fátima</h4>
          <p>Ave, cheia de graça.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide">
      <div class="card">
        <div class="content">
          <div class="content-info img-t"></div>
          <div class="info">
              <h4>São Tarcisio</h4>
          <p>Padroeiro dos coroinhas</p>
          </div>
        </div>
      </div>
    </div>
    <div class="keen-slider__slide">
      <div class="card">
        <div class="content">
          <div class="content-info img-s"></div>
          <div class="info">
              <h4>São João Paulo II</h4>
          <p>Padroeiro da paróquia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p-dialog
  header="Veneração"
  [modal]="true"
  [(visible)]="visible"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <p class="mb-8">
    Na Igreja Católica, a veneração é um ato de respeito e devoção prestado aos
    santos, anjos e relíquias sagradas. A prática da veneração tem raízes na
    tradição da Igreja e é considerada uma forma de honrar aqueles que foram
    exemplos de fé e virtude.
  </p>
  <p class="mb-8">
    A veneração na Igreja Católica não deve ser confundida com adoração, que é
    reservada exclusivamente a Deus. Os católicos acreditam que a veneração aos
    santos e anjos é uma forma de se conectar com o divino e de buscar sua
    intercessão em favor dos fiéis.
  </p>
  <p class="mb-8">
    Os católicos costumam venerar os santos através de orações, novenas,
    peregrinações a locais de devoção e pela exposição de imagens e relíquias
    sagradas. A veneração também pode incluir o uso de objetos abençoados, como
    medalhas e escapulários.
  </p>
  <p class="mb-8 mb-5">
    A veneração na Igreja Católica é uma prática comum em todo o mundo e faz
    parte da rica tradição da fé católica. Os católicos acreditam que a
    veneração aos santos e anjos fortalece sua própria fé e os ajuda a crescer
    espiritualmente. A veneração na Igreja Católica é baseada na crença de que
    os santos e anjos estão presentes na vida dos fiéis e intercedem por eles
    diante de Deus. Os católicos acreditam que a veneração aos santos é uma
    forma de se aproximar do divino e de receber graças e bênçãos.
  </p>

  <span>Fonte:</span>
  <a
    href="https://www.livrodoceu.com.br/glossario/o-que-e-veneracao-na-igreja-catolica/"
    target="_blank"
  >
    Clique para ver completa</a
  >
</p-dialog>

<div style="height: 120px"></div>
