<div class="shoptitle mb-5">
  <div class="title">
    <span>NOSSA LOJA</span>
    <p class="pill">confira nosso catálogo</p>
  </div>
</div>

<div style="height: 50px;" class="text-center">

</div>

<div class="container">
  <div class="row row-gap-5">
    <div class="produto col-sm-4" *ngFor="let produto of products()">
      <div class="content" (click)="showDialog(produto)">
        <img src="/imgs/shopp/ecocarlo.png" alt="" />
        <h4 class="mt-3">{{ produto.name }}</h4>
        <p>{{ [produto.type] }}</p>
        <h3>R$ {{ produto.price }},00</h3>
        <div class="d-flex gap-2">
          <p-button label="Comprar"></p-button>
          <p-button label="" icon="pi pi-search"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>



<p-dialog
  header="Produto: {{ modalcontent.name }}"
  [modal]="true"
  [(visible)]="visible"
  [draggable]="false"
  [style]="{ width: '50rem' }"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
  <div class="row">
    <div class="col">
      <img src="{{ modalcontent.image }}" alt="" />
    </div>
    <div class="col">
      <h1 class="mb-8">
        {{ modalcontent.name }}
      </h1>
      <p class="mb-8">
        {{ modalcontent.description }}
      </p>
    </div>
  </div>
</p-dialog>
