<div class="footer mt-5">
  <h1>Obrigado!</h1>
  <p>Nossas redes</p>

  <div class="d-flex gap-2 justify-content-center mt-3 mb-3">
    <p-button [outlined]="true" severity="secondary">
      <img src="/imgs/svg/facebook.svg" alt="" />
    </p-button>

    <p-button [outlined]="true" severity="secondary">
      <img src="/imgs/svg/instagram.svg" alt="" />
    </p-button>

    <p-button [outlined]="true" severity="secondary">
      <img src="/imgs/svg/tiktok.svg" alt="" />
    </p-button>
  </div>

  <p style="margin: 0px;">Movimento Semente - Todos os Direitos Reservados</p>
</div>
