<div class="footer mt-5">
  <h1>Obrigado!</h1>
  <p>Nossas redes</p>

  <div class="d-flex gap-2 justify-content-center mt-3 mb-3">
    <a
      href="https://www.facebook.com/profile.php?id=61551233254537&locale=pt_BR"
      target="_blank"
    >
      <p-button [outlined]="true" severity="secondary">
        <img src="/imgs/svg/facebook.svg" alt="" />
      </p-button>
    </a>
    <a href="https://www.instagram.com/movimento_semente/" target="_blank">
      <p-button [outlined]="true" severity="secondary">
        <img src="/imgs/svg/instagram.svg" alt="" />
      </p-button>
    </a>
    <a href="https://www.tiktok.com/@movimentosemente" target="_blank">
      <p-button [outlined]="true" severity="secondary">
        <img src="/imgs/svg/tiktok.svg" alt="" />
      </p-button>
    </a>
  </div>

  <p style="margin: 0px">Movimento Semente - Todos os Direitos Reservados</p>
</div>
