.nav-seed {
  transition: .5s ease-in-out;
  position: fixed;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  z-index: 999;
  width: 660px;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.image {
  transition: .5s ease-in-out;
  width: 40px;
  height: 40px;
  background-image: url('/imgs/logosemente.png');
  background-size: cover;
  background-position: center;
}

.links {
  transition: .5s ease-in;
  display: flex;
  margin-left: 30px;
  gap: 20px;
  a {
    transition: .3s ease-in;
    text-align: center;
    width: 120px;
    padding: 6px 10px;
    text-decoration: none;
    color: white;
    border-radius: 24px;
  }
}

.links a:hover {
  color: black;
  background: rgba(255, 255, 255, 0.658);
}


.moving {
  .image {
   background-image: url('/imgs/logosemente-black.png');
  }
  .links a {
    color: rgb(43, 43, 43);
  }

  .links a:hover {
    border-radius: 24px;
    color: black;
    background: rgba(77, 77, 77, 0.171);
  }
}

.moving > .nav-seed {
  box-shadow: 1px 0px 30px 0px rgba(0, 0, 0, 0.575);
  top: 0px;
  width: 100%;
}

@media screen and (max-width: 650px) {
  .nav-seed {
    display: none;
  }
}
