<div class="header">
   <app-navbar></app-navbar>
  <div class="header-content">

    <div>
      <img src="/imgs/logosemente.png" alt="" />
      <span class="title">MOVIMENTO SEMENTE</span>
      <span class="subtitle"
        >"Jovens, não tenham medo de serem os Santos do novo milênio." - Sjpii
        em 1999</span
      >
      <a class="button" href="#main">Conheça nossa evangelização ></a>
    </div>
  </div>
</div>

<main class="main" id="main">
  <h1>Quem somos</h1>
  <p>Somos um grupo de jovens que acredita no poder da juventude como semente de transformação. Unidos por diversos carismas, talentos e formas de viver a fé, formamos um só corpo com o propósito de crescer juntos em espiritualidade, amizade e serviço.
Nosso nome reflete a missão: ser semente do amor de Deus no mundo, espalhando esperança, alegria e vida nova por onde passarmos.</p>
</main>

<div class="main">
  <h1>Carisma</h1>
  <p>Somos um grupo de jovens que acredita no poder da juventude como semente de transformação. Unidos por diversos carismas, talentos e formas de viver a fé, formamos um só corpo com o propósito de crescer juntos em espiritualidade, amizade e serviço.
Nosso nome reflete a missão: ser semente do amor de Deus no mundo, espalhando esperança, alegria e vida nova por onde passarmos.</p>

</div>

<footer>
  <h1>contatos</h1>
</footer>
