.header {
  // background-image: url("../../../../../lading-semente/public/imgs/fotogeral.jpg");

  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../../../../lading-semente/public/imgs/fotogeral.jpg);
  object-fit: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .header-content {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    img {
      max-width: 300px;
      animation: scale-up-hor-center 5s forwards;
    }

    .title {
      display: block;
      font-size: 80px;
      width: 100%;
      color: white;
      font-weight: 1000;
    }

    .subtitle {
      color: white;
    }
  }
}

.main {
  margin-top: 130px;
  h1 {
    font-size: 70px;
  }
}

.button {
  text-decoration: none;
  color: brown;
  display: block;
  margin-top: 30px;
  justify-self: center;
  background-color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 40px;
  transition: 1s;
}

.button:hover {
  box-shadow: 1px 1px 3px 4px white;
  color: white;
  background-color: rgb(255, 131, 49);
}

.scale-up-hor-center {
  -webkit-animation: scale-up-hor-center 1s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-hor-center 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;

  @-webkit-keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
  @keyframes scale-up-hor-center {
    0% {
      -webkit-transform: scaleX(0.4);
      transform: scaleX(0.4);
    }
    100% {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }
  }
}
